:root {
    max-width: 100%;
}

* {
    max-width: 100%;
}
body {
    margin: 0px;
    min-height:100vh;
}

a {
    text-decoration: none;
    color: lightgrey;
    font-family: cursive;
}

.TopBar {
    background-color: mintcream;
    padding-left: 40px;
    font-family: cursive;
    text-shadow: 1px 0px 0px rgb(35, 35, 65);
    color: rgb(39, 41, 71);
    border-style: solid;
    border-left: 2px;
    border-right: 2px;
    border-color: rgb(234, 226, 183);
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 99999;
}

#Flower {position:relative;
    width: 60px;
}

.Flower1 {
    position: relative;
    rotate: 0 0 1 270deg;
    bottom: 93px;
    left: 450px;

}

.Flower2 {
    position: relative;
    transform:scaleX(-1);
    bottom:30px;
    right:40px;
}

.Flower3 {
    position:relative;
    bottom: 200px;
    left: 475px;
    rotate: 0 0 1 -50deg;
}

.head-container {
    background-color: rgb(39, 41, 71);
    color: white;
    height: 100px;
    padding-inline: 100px;
    border-bottom: 6px rgb(234, 226, 183);
    border-top: 3px rgb(234, 226, 183);
    border-left: 3px rgb(234, 226, 183);
    border-right: 3px rgb(234, 226, 183);
    border-style:inset;
    display: flex;
    width:auto;
    height: 100px;
    padding-top: 20px;
}

.left {
}

.header {
    width: 120px;
    padding-top: 26px;
    font-size: 8px;
    font-family:cursive;
    color: rgb(234, 226, 183);
    text-decoration: underline;
    display: flex ;
    text-align: center;
    position: relative;
    left: 15px;
}

.Intro {
    position: relative;
    color: rgb(234, 226, 183);
    left: 327px;
    top: 25px;
    font-size: 16px;
    font-family: cursive;
    font-style:italic;
}

.DescText {
    position: relative;
    font-size: 11px;
    bottom: 20px;
    left: 4px;
    width: 145px;
    text-align: center;
    font-family: cursive;

}
.links {
    position: relative;
    left: 320px;
    bottom: 20px;
}
.headerlink {
   font-size: 10px;
   font-weight:800;
   font-style:oblique;
   text-shadow:.5px 0px 0px rgb(35, 35, 65);
   align-self: center;
   justify-content: center;
   font-family:cursive;
   text-decoration: underline;
   color: rgb(39, 41, 71);
   margin:2px;
}

.CoverPhoto {
    width:auto;
    height:150px;
    padding-left:15px;
    box-shadow: 6px 5px 6px 5px rgb(234, 226, 183);
    border-radius: 50%;
    display: flex;
    margin-left: 320px;
    position: relative;
    top: 18px;
    bottom: 0px;
    
    }

.middle-container {
    background-color: mintcream; 
    border-style: solid;
    border: 2px;
    border-color: rgb(234, 226, 183);
}

.quote-container {
    background-color: ivory;
    height: 180px;
    border-style:outset;
    border-color: rgb(234, 226, 183);
    border-width: 2px;
}

.SignUpCon {
    height: 80px;
    background-color: mintcream;
}

.footer-container {
    background-color: rgb(39, 41, 71);
    
}

.footer-text {
    color: rgb(234, 226, 183);
    font-size: 8px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-style:inset;
    border-color: rgb(234, 226, 183);
    border-width: 2px;
}